<h1>Listing Cafes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>

    <th></th>
    <th></th>
  </tr>

<% @caves.each do |cafe| %>
  <tr>
    <td width = 150 ><%= link_to cafe.name, cafe %></td>
    <td width = 250 ><%= cafe.address %></td>

    <% if admin? %>
    <td><%= link_to 'Edit', edit_cafe_path(cafe) %></td>
    <td><%= link_to 'Destroy', cafe, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a new Cafe', new_cafe_path %>
<br />
