<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cafe.name %>
</p>

<p>
  <b>Address:</b>
  <%= @cafe.address %>
</p>


<%= link_to 'Edit', edit_cafe_path(@cafe) %> |
<%= link_to 'Back', caves_path %>
