<h1>Welcome!</h1>


<%= render :template => 'events/form' %>

<%= link_to 'Events', :controller => 'events', :action => 'index' %>

<%= link_to 'Cafes', :controller => 'caves', :action => 'index' %>
<%= link_to 'Users', :controller => 'users', :action => 'index' %>

<%= link_to 'Login In', :controller => 'sessions', :action => 'new' %>
<%= link_to 'Login Out', :controller => 'sessions', :action => 'destroy' %>


