
<% if admin? %>
<p>Name: <%= link_to event.name, event %></p>
<p>Start Time: <%= event.start %> </p>

<%= link_to 'Edit', edit_event_path(event) %>
<%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>


<% else %>

<p>Name: <%= link_to event.name, event %></p>
<p>Start Time: <%= event.start %> </p>


<% end %>

<p></p>
<br>