<html>
	<head>

	</head>
	<body>

		<p id="notice"><%= notice %></p>
	</br>
		<h1 >
		  <%= @event.name %>
		</h1>

		<p>
		  <b>Start:</b>
		  <%= @event.start %>
		</p>

		
	 	<b>Suggested Cafes:</b><br/>
		<% for cafe in @event.caves %>
		    <%= cafe.name %>
		    <br/>
		<% end %>

		 <br/>

		
		<b>Top three Cafes</b><br/>
		<% @event.top3.each_with_index do |name, index| %>
		<%= (index+1).to_s + ". " +  name %>
		<br/>
		<% end %>


		<br/>
		<br/>

		<%= link_to 'Rank Cafes', :controller => 'events', :action => 'rank'  %>
		<% if admin? %>
		<%= link_to 'Suggest Cafes', :controller => 'events', :action => 'suggest_cafes'  %>
		<%= link_to 'Edit', edit_event_path(@event) %> 
		<% end %>
		<%= link_to 'Back', events_path %>
	</body>
</html>

